/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities */
@layer utilities {
  .writing-mode-vertical-rl {
    writing-mode: vertical-rl;
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}
